<h2>Welcome to HRMS!</h2>
<p>Your account has been created successfully.</p>
<p>Please click the link below to set your password:</p>
<a href="{{resetUrl}}">Set Your Password</a>
<p>This link will expire in 24 hours.</p>
